.quantity-wrapper {
    display: flex;
    align-items: center;
    width: 140px;
    height: 40px;
    
    
    .btn {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: $primary_text;
        padding: 8px 12px;
        border: 1px solid $primary_text;
        border-radius: 3px 0 0 3px;
        background-color: #f1f1f1;
        outline: none;
        &:active, &:focus {
            outline: none;
            box-shadow: none;
        }
        &:last-child {
            border-radius: 0 3px 3px 0;
        }
        &:disabled {
            opacity: 0.3;
        }
    }
    .quantity {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
        border: 1px solid $primary_text;
        border-left: none;
        border-right: none;
    }
}