.hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 267px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    .hero-content {
        width: 80%;
        text-align: center;
        padding: 2%;
        background-color: rgba(255,255,255,.8);
        h1 {
            font-size: 36px;
            margin: 0 0 .5rem;
        }
        p {
            margin-bottom: 1rem;
        }
    }
}