.product-card {
    width: 100%;
    margin-bottom: 60px;
    text-align: center;
    img {
        width: 100%;
        height: auto;
        min-height: 191px;  
        margin-bottom: 15px;      
        box-shadow: -1px 1px 5px 1px $gray;
    }
    .name, .price {
        font-size: 18px;
        font-weight: 500;
    }
    .name {
        min-height: 50px;
        margin-bottom: .5rem;
    }
    .price {
        margin-bottom: 1rem;
    }    
    .buy-button {
        display: block;
        width: 70%;
        height: 45px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .quantity-wrapper {
        margin: 0 auto;
    }
}