.category-filter {
    width: 90%;
    padding: 20px;
    background-color: $white;
    box-shadow: 7px 7px 8px -4px #dae0e5;

    label {
        margin-bottom: 20px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 500;
            font-size: 0.8rem;
            margin-bottom: 20px;
            padding: 5px 15px;
            color: $secondary_text;
            border: 1px solid $gray;
            border-radius: 16px;
            cursor: pointer;
            span {
                display: none;
                width: 8px;
                height: 8px;
                border-radius: 100%;
                background-color: $primary_text;
            }
            &.active {
                color: $primary_text;
                border-color: $secondary_text;
                span {
                    display: block;
                }
            }
        }
    }
    @media screen and (max-width: $screen-sm-max) {
        width: 100%;
        padding: 0;
        box-shadow: none;
        label {
            display: none;
        }
        ul {
            height: 350px;
            overflow-y: auto;
            li {
                border: none;
                margin-bottom: 5px;
                padding: 10px 15px;
                &.active {
                    background-color: #f1f1f1;
                    border-radius: 0;
                }
            }
        }
    }
}