.product-page {
    padding-top: 3%;
    padding-bottom: 3%;
    .mobile-filter-toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        .filter-toggle-wrapper {
            position: relative;
        }
        .filter-toggle {
            position: relative;
            width: 150px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 15px;
            border: 1px solid $secondary_text;
            border-radius: 3px;
            cursor: pointer;
            z-index: 1;
            &.active {
                background-color: $white;
                border-radius: 3px 3px 0 0;
                box-shadow: -6px -7px 20px -10px $gray;
                border: none;
            }
        }
        .filter-content {
            display: none;
            position: absolute;
            top: 102%;
            left: 0;
            width: 250px;
            background-color: $white;
            box-shadow: 1px 1px 4px 1px $gray;
            &.show {
                display: block;
            }
        }
        @media screen and (min-width: $screen-sm-max) {
            display: none;
        }
    }
    .products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 1.3rem;
        margin-top: 30px;
    }
    @media screen and (max-width: $screen-xs-max) {
        .products {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @media screen and (max-width: $screen-xs-min) {
        .products {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media screen and (max-width: 320px) {
        .products {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
