header {
    width: 100%;
    padding: 1rem .1rem 1.2rem;
    background: #fff none repeat scroll 0 0;
    // box-shadow: rgb(16 82 133 / 15%) 0 0 10px;
    box-shadow: 0px 0px 5px 2px #ccc;
    a {
        color: $primary_text;
        font-weight: 500;
        &:hover {
            text-decoration: none;
        }
    }
    .container {
        height: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        width: 200px;
        font-size: 30px;
        font-weight: 600;
        color: $primary_text;
        img{
            width: 100%;
            height: auto;
        }
    }
    .nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        li {
            position: relative;
            font-weight: 500;
            margin-right: 40px;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }
            .basket-icon {
                font-size: 25px;
                color: $primary_text !important;
            }
            .cart-total {
                position: absolute;
                width: 20px;
                height: 20px;
                top: -6px;
                right: -13px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 11px;
                font-weight: 500;
                color: $white;
                background-color: $text-success;
            }
            .mini-cart {
                display: none;
                position: absolute;
                width: 400px;
                min-height: 100px;
                top: 100%;
                right: 0;
                margin-top: 10px;
                background-color: #ffffff;
                box-shadow: 1px 1px 5px 2px #ccc;
                border-radius: 3px;
                &.show {
                    display: block;
                }
            }
        }
    }
}