.shopping-cart-page {
    padding-top: 3%;
    padding-bottom: 3%;
    .cart-empty {
        display: block;
        margin-top: 50px;
    }
    table {
        margin-top: 40px;
        margin-bottom: 10px;
        th, td {
            vertical-align: middle;
            a, &.price {
                font-weight: 500;
                color: $primary_text;
            }
            .quantity-remove {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .remove {
                font-size: 20px;
                color: indianred;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }             
            &.c-small {
                width: 100px;
                text-align: right;
            }
            &.c-medium {
                width: 250px;
            }
        }
    }
    .total {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    .checkout-btn {
        margin-left: auto;
        display: block;
        width: 200px;
        background-color: #28a745;
        border-color: #28a745;
    }
    .clear-basket {
        width: 100%;
        text-align: right;
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
        margin-bottom: 30px;
        &:hover {
            text-decoration: underline;
        }
    }
}