body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-weight: 400;
  color: $primary_text;
  background-color: $bg_primary;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.spinner-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray;
  opacity: 0.5;
  z-index: 1;
  top: 0;
  left: 0;
}

.stock-info {
  width: 100%;
  padding: 5px;
  margin-bottom: 8px;
  color: $gray;
  font-weight: 500;
  text-decoration: none !important;
  &.in-stock {
      color: green;
  }
  &.few-left {
      color: orange;
  }
}
  