$primary_text: #130B58;
$secondary_text: #2c2c2c;
$text-success: #28a745;
$white: #FFFFFF;
$gray: #cccccc;
$bg_primary: #F1F6FA;

$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);