.product-detail {
    padding-top: 50px;
    padding-bottom: 50px;
    .product-image-name {
        margin-bottom: 60px;
    }
    .image-wrapper {
        position: relative;
        width: 95%;
        img {
            width: 100%;
            height: auto;
            box-shadow: -1px 1px 5px 1px $gray;
            border-radius: 3px;
        }
        .back {
            position: absolute;
            width: 80px;
            top: 15px;
            left: -25px;
            font-weight: 500;
            padding: 5px 10px;
            background-color: $white;
            border: 1px solid $gray;
            border-radius: 3px;
            cursor: pointer;
            text-align: center;
        }
    }
    .content {
        h1 {
            font-size: 50px;
            font-weight: 500;
            margin: 0 0 30px;
        }
        .price {
            font-size: 30px;
            font-weight: 500;
            margin: 0 0 40px;
        }
        .buy-now-button {
            width: 40%;
            height: 50.95px;
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            transition: transform 0.5ms ease;
            &:hover {
                transform: scale(0.95);
            }
            &.out-of-stock {
                opacity: .5;
                cursor: default;
                transform: scale(1) !important;
            }
        }
    }
    .accordion {
        .btn {
            text-decoration: none !important;
            &:focus {
                outline: none !important;
                box-shadow: none !important;
            }
        }
        h3 {
            font-size: 30px;
            color: $primary_text;
        }
        .card-header, .card-body {
            background-color: $bg_primary;
        }
        .card {
            border: none;
            border-bottom: 1px solid #ccc;
        }
        .card-header {
            border-top: none;
        }
    }

    @media screen and (max-width: $screen-sm-max) {
        .image-wrapper {
            width: 100%;
        }
        .content {
            h1 {
                font-size: 40px;
            }
        }
    }
    @media screen and (max-width: $screen-xs-max) {
        padding-top: 25px;
        .image-wrapper {
            .back {
                left: 0;
            }
        }
    }
    @media screen and (max-width: $screen-xs-min) {
        padding-top: 15px;
    }
}